<li>
  <div [ngClass]="{
    'list-group-item':true,
    'list-group-item-success':post.loveIts>0,
    'list-group-item-danger':post.loveIts<=0
  }">
    <div class="row justify-content-around">
      <h1 class="col-lg-2">{{post.title}}</h1>
      <div class="col-lg-2 ">{{post.createdAt | date : "short" | lowercase}}</div>
    </div>
    <p>{{post.content}}</p>
    <button class="btn-success" (click)="post.setLoveIts(1)">Love it</button>
    <button class="btn-danger" (click)="post.setLoveIts(-1)">Don't love it</button>
  </div>
</li>
